.header {
  background: #3fb479;
  font-size: 1.25rem;
  padding: 1em;
  font-family: 'Montserrat';
  font-weight: 500;
}

.layout__main {
  flex: 1;
  padding: 2em;
  font-family: 'Montserrat';
}

.footer {
  background: #297951;
  padding: 1em;
  font-family: 'Montserrat';
  text-align: center;
}
