.p {
    text-align: center;
}

.pLink {
  border-radius: 10px;
  box-shadow: 0 0 0 1px #000000;
  margin: 10px;
  padding: 5px;
  width: 100px;
  background-color: #8bd7a558;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    th, td {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
      padding: 5px;
  }
}

.td {
    font-weight: bold;
    background-color:#babab97e;
  }