.p {
    text-align: center;
}

.pLink {
  border-radius: 10px;
  box-shadow: 0 0 0 1px #000000;
  margin: 10px;
  padding: 5px;
  width: 100px;
  background-color: #8bd7a558;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    th, td {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
      padding: 5px;
  }
}

.td {
    font-weight: bold;
    background-color:#babab97e;
  }

.container {
  display: flex;
  flex-flow: row wrap;
  width: 400px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.divImg {
  position: relative;
  width: 100px;
  height: 150px;
  &>img {
    position: absolute;
    mix-blend-mode: multiply;
  }
}

.divImgCloud {
  display: flex;
  position: absolute;
}

.divCheckbox {
  display: flex;
  flex-flow: row wrap;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  &>label {
    margin-left: 10px;
    &>input {
      margin-right: 3px;
      margin-right: 3px;
    }
  }
}

.inputText {
  width: 350px;
  text-align: center;
}